<%= form_with(model: jobposter) do |form| %>
  <% if jobposter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jobposter.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% jobposter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :job_nature %>
    <%= form.text_field :job_nature %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    
    <%= form.number_field :user_id, id: :jobposter_user_id, value: current_user.id, type: :hidden %>
  </div>
    
  <br/><br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
