
<% if user_signed_in? %>



  <p id="notice"><%= notice %></p>

  <h1>Jobs List</h1>

  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Job nature</th>
        <th>Phone</th>
        <th>Email</th>
        <th>User ID</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobposters.each do |jobposter| %>
        <tr>
          <td><%= jobposter.first_name %></td>
          <td><%= jobposter.last_name %></td>
          <td><%= jobposter.job_nature %></td>
          <td><%= jobposter.phone %></td>
          <td><%= jobposter.email %></td>
          <td><%= jobposter.user_id %></td>
          
          <td><%= link_to 'View Job', jobposter %></td>

          <% if jobposter.user == current_user %>
          <td><%= link_to 'Edit', edit_jobposter_path(jobposter) %></td>
          <td><%= link_to 'Delete', jobposter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>

          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Job', new_jobposter_path %>
<% else %>

<h4> hello </h4>

<% end %>